{% extends "core/base.html" %}
{% load user_display_name %}
{% block title %}IRIS - Domain list{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">IRIS</a></li>
      <li><a href="/app/packagedb/">Package Database</a></li>
      <li class="active">Domains</li>
    </ol>
  </div>

    <div class="row">
        <div class="page-header">
            <h3>
                Domain information for all domains
                {% if perms.core.add_domain %}
                <a href="create"><button class="btn btn-primary pull-right">Create</button></a>
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Domain name</th>
                    <th>Architects</th>
                    <th>Maintainers</th>
                    <th>Reviewers</th>
                    <th>Subdomains</th>
                </tr>
            </thead>
            <tbody>
            {% for domain in domains|dictsort:"name" %}
            <tr>
                <td><a href="{{ domain.id }}">{{ domain.name }}</a></td>
                <td>
                    {% for architect in domain.get_architects %}
                    <a href="/users/{{ architect.id }}">
                        <p>{{architect|user_display_name}}</p>
                    </a>
                    {% endfor %}
                </td>
                <td>
                    {% for maintainer in domain.get_maintainers %}
                    <a href="/users/{{ maintainer.id }}">
                        <p>{{maintainer|user_display_name}}</p>
                    </a>
                    {% endfor %}
                </td>
                <td>
                    {% for reviewer in domain.get_reviewers %}
                    <a href="/users/{{ reviewer.id }}">
                        <p>{{reviewer|user_display_name}}</p>
                    </a>
                    {% endfor %}
                </td>
                <td>
                    {% for subdomain in domain.subdomain_set.all|dictsort:"name" %}
                    <a href="/app/packagedb/subdomains/{{ subdomain.id }}">
                        <p>{{ subdomain.name }}</p>
                    </a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
