{% extends "core/base.html" %}
{% load user_display_name %}
{% load cache %}
{% block title %}IRIS - Git Tree list{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">IRIS</a></li>
      <li><a href="/app/packagedb/">Package Database</a></li>
      <li class="active">Git trees</li>
    </ol>
  </div>

    <div class="row">
        <div class="page-header">
            <h3>
                Git tree information for all trees
                {% if perms.core.add_gittree %}
                <a href="create"><button class="btn btn-primary pull-right">Create</button></a>
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="row">
      {% cache cache_seconds tree_table %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Git path</th>
                    <th>Domain</th>
                    <th>Subdomain</th>
                    <th>Maintainers</th>
                    <th>Integrators</th>
                    <th>Reviewers</th>
                </tr>
            </thead>
            <tbody>
            {% for gittree in gittrees|dictsort:"gitpath"|dictsort:"subdomain.name"|dictsort:"subdomain.domain.name" %}
            <tr>
                <td><a href="{{ gittree.id }}">{{ gittree.gitpath }}</a></td>
                <td><a href="/app/packagedb/domains/{{ gittree.subdomain.domain.id }}">{{ gittree.subdomain.domain.name }}</a></td>
                <td><a href="/app/packagedb/subdomains/{{ gittree.subdomain.id }}">{{ gittree.subdomain.name }}</a></td>
                <td>
                    {% for user in gittree.get_maintainers|dictsort:"last_name.lower" %}
                    <a href="/users/{{ user.id}}">
                        <p>{{ user|user_display_name }}</p>
                    </a>
                    {% endfor %}
                </td>
                <td>
                    {% for user in gittree.get_integrators|dictsort:"last_name.lower" %}
                    <a href="/users/{{ user.id}}">
                        <p>{{ user|user_display_name }}</p>
                    </a>
                    {% endfor %}
                </td>
                <td>
                    {% for user in gittree.get_reviewers|dictsort:"last_name.lower" %}
                    <a href="/users/{{ user.id}}">
                        <p>{{ user|user_display_name }}</p>
                    </a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
      {% endcache %}
    </div>
</div>
{% endblock %}

