{% extends "core/base.html" %}
{% block title %}IRIS - Image list{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">IRIS</a></li>
  <li><a href="/app/packagedb/">Package Database</a></li>
  <li class="active">Images</li>
</ol>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h3>
                Image information for all images
                {% if perms.core.add_image %}
                <a href="create"><button class="btn btn-primary pull-right">Create</button></a>
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Target</th>
                    <th>Architecture</th>
                    <th>Product</th>
                </tr>
            </thead>
            <tbody>
            {% for image in images %}
            <tr>
                <td>
                    <a href="{{image.id}}">{{ image.name }}</a>
                </td>
                <td>
                    {{image.target}}
                </td>
                <td>
                    {{ image.arch }}
                </td>
                <td>
                    <a href="/app/packagedb/products/{{image.product.id}}">{{ image.product }}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
