{% extends "core/base.html" %}
{% load cache %}
{% block title %}IRIS - Package list{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">IRIS</a></li>
      <li><a href="/app/packagedb/">Package Database</a></li>
      <li class="active">Packages</li>
    </ol>
  </div>

    <div class="row">
        <div class="page-header">
            <h3>
                Package information for all packages
                {% if perms.core.add_package %}
                <a href="create"><button class="btn btn-primary pull-right">Create</button></a>
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="row">
      {% cache cache_seconds pack_table %}
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Package Name</th>
            <th>Git trees</th>
          </tr>
        </thead>
        <tbody>
          {% for package in packages|dictsort:"name.lower" %}
          <tr>
            <td><a href="/app/packagedb/packages/{{ package.id }}">
                {{package.name}}</a></td>
            <td>
              {% for tree in package.gittree_set.all|dictsort:"gitpath" %}
              <p><a href="/app/packagedb/gittrees/{{tree.id}}">
                  {{tree.gitpath}}</a></p>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endcache %}
    </div>
</div>
{% endblock %}
