{% extends "core/base.html" %}
{% load cache %}
{% block title %}IRIS - Package list{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">IRIS</a></li>
      <li><a href="/app/packagedb/">Package Database</a></li>
      <li class="active">Packages</li>
    </ol>
  </div>

    <div class="row">
        <div class="page-header">
            <h3>
                Package information for all packages
                {% if perms.core.add_package %}
                <a href="create"><button class="btn btn-primary pull-right">Create</button></a>
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="row">
      {% cache cache_seconds pack_table %}
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Package Name</th>
            <th>Domain</th>
          </tr>
        </thead>
        <tbody>
          {% for subdomain in subdomains|dictsort:"fullname.lower"  %}
            {% if subdomain.get_packages %}
               <tr>
                  <td>
                    {% for package in subdomain.get_packages|dictsort:"name.lower" %}
                      <p><a href="{% url 'package.read' package.id %}">{{package.name}}</a></p>
                    {% endfor %}
                  </td>
                  <td>
                   <a href="{% url 'subdomain.read' subdomain.id %}">{{ subdomain.fullname }}</a>
                  </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% endcache %}
    </div>
</div>
{% endblock %}
