include README.md
include requirements.txt
include bin/*.py bin/*.sh
recursive-include iris *.html
recursive-include iris *.js
recursive-include iris *.css
recursive-include iris *.py
recursive-include iris *.ico *.png *.gif *.jpg
recursive-include iris *.json
include iris/submissions/tests/events.log
