{% extends "core/base.html" %}
{% block title %}IRIS - Domain {{ domain }}{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">IRIS</a></li>
      <li><a href="/app/packagedb/">Package Database</a></li>
      <li><a href="/app/packagedb/domains/">Domains</a></li>
      <li class="active">{{ domain.name }}</li>
    </ol>
  </div>

    <div class="row">
        <div class="page-header">
            <h3>
                Domain information for <span class="text-warning">{{ domain.name }}</span>
                <span class="pull-right">
                {% if perms.core.add_subdomain %}
                <a href="/app/packagedb/subdomains/create/?domain={{ domain.id }}&name={{ domain.name }}"><button class="btn btn-primary">Add subdomain</button></a>
                {% endif %}

                {% if perms.core.change_domain %}
                <a href="update"><button class="btn btn-primary">Edit</button></a>
                {% endif %}

                {% if perms.core.delete_domain %}
                <a href="delete" class="delete"><button class="btn btn-primary">Delete</button></a>
                {% endif %}
                </span>
            </h3>
        </div>
    </div>
    <div class="row">
      {% with architects=domain.get_architects maintainers=domain.get_maintainers integrators=domain.get_integrators reviewers=domain.get_reviewers %}
      {% include "packagedb/read/single/roles.html" %}
      {% endwith %}
    </div>

    <div class="row panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Subdomains in this domain
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Subdomain name</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for subdomain in domain.get_subdomains %}
                        <tr>
                            <td>
                                <a href="/app/packagedb/subdomains/{{ subdomain.id }}">{{ subdomain.name }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
