{% extends "core/base.html" %}
{% block title %}IRIS - Git tree {{ gittree.gitpath }}{% endblock %}
{% block content %}
{% load user_permission_tags %}
{% check_user_permissions_for user gittree as can_edit %}

<ol class="breadcrumb">
  <li><a href="/">IRIS</a></li>
  <li><a href="/app/packagedb/">Package Database</a></li>
  <li><a href="/app/packagedb/gittrees">Git trees</a></li>
  <li class="active">{{ gittree.gitpath }}</li>
</ol>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h3>
                Git tree information for <span class="text-warning">{{ gittree.gitpath }}</span>
                {% if can_edit %}
                <a href="update"><button class="btn btn-primary pull-right">Edit</button></a>
                {% endif %}
            </h3>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Git path</th>
                    <th>Packages</th>
                    <th>Subdomain</th>
                    <th>Licenses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ gittree.gitpath }}</td>
                    <td>
                        {% for package in gittree.package_set.all %}
                        <p>{{ package }}</p>
                        {% endfor %}
                    </td>
                    <td><a href="/app/packagedb/subdomains/{{ gittree.subdomain.id }}">{{ gittree.subdomain.name }}</a></td>
                    <td>
                        {% for license in gittree.licenses.all %}
                        <p><a href="/app/packagedb/licenses/{{ license.id }}">{{ license }}</a></p>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Users related to git tree
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in gittree.get_architects %}
                        <tr>
                            <td><a href="/users/{{ user.id }}">{{ user.last_name }}, {{ user.first_name}}</a></td>
                            <td>Architect</td>
                        </tr>
                        {% endfor %}
                        {% for user in gittree.get_maintainers %}
                        <tr>
                            <td><a href="/users/{{ user.id }}">{{ user.last_name }}, {{ user.first_name}}</a></td>
                            <td>Maintainer</td>
                        </tr>
                        {% endfor %}
                        {% for user in gittree.get_reviewers %}
                        <tr>
                            <td><a href="/users/{{ user.id }}">{{ user.last_name }}, {{ user.first_name}}</a></td>
                            <td>Reviewer</td>
                        </tr>
                        {% endfor %}
                        {% for user in gittree.get_integrators %}
                        <tr>
                            <td><a href="/users/{{ user.id }}">{{ user.last_name }}, {{ user.first_name}}</a></td>
                            <td>Integrator</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
