{% extends "core/base.html" %}
{% block title %}IRIS - Git tree {{ gittree.gitpath }}{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">IRIS</a></li>
  <li><a href="/app/packagedb/">Package Database</a></li>
  <li><a href="/app/packagedb/gittrees">Git trees</a></li>
  <li class="active">{{ gittree.gitpath }}</li>
</ol>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h3>
                Git tree information for <span class="text-warning">{{ gittree.gitpath }}</span>
                <span class="pull-right">
                {% if perms.core.change_gittree %}
                <a href="update"><button class="btn btn-primary">Edit</button></a>
                {% endif %}

                {% if perms.core.delete_gittree %}
                <a href="delete" class="delete"><button class="btn btn-primary">Delete</button></a>
                {% endif %}
                </span>
            </h3>
        </div>
    </div>

<div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Architects</th>
                    <th>Maintainers</th>
                    <th>Integrators</th>
                    <th>Reviewers</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {% for architect in gittree.get_architects %}
                    <a href="/users/{{ architect.id }}">
                        <p>{{ architect.last_name }}, {{ architect.first_name }}</p>
                    </a>
                    {% endfor %}
                </td>
                <td>
                    {% for maintainer in gittree.get_maintainers %}
                    <a href="/users/{{ maintainer.id }}">
                        <p>{{ maintainer.last_name }}, {{ maintainer.first_name }}</p>
                    </a>
                    {% endfor %}
                </td>
                <td>
                    {% for integrator in gittree.get_integrators %}
                    <a href="/users/{{ integrator.id }}">
                        <p>{{ integrator.last_name }}, {{ integrator.first_name }}</p>
                    </a>
                    {% endfor %}
                </td>
                <td>
                    {% for reviewer in gittree.get_reviewers %}
                    <a href="/users/{{ reviewer.id }}">
                        <p>{{ reviewer.last_name }}, {{ reviewer.first_name }}</p>
                    </a>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Git path</th>
                    <th>Product</th>
                    <th>Subdomain</th>
                    <th>Licenses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ gittree.gitpath }}</td>
                    <td>
                        {% for product in gittree.get_product%}
                        <p><a href="/app/packagedb/products/{{ product.id }}">{{ product.name }}</a></p>
                        {% endfor %}
                    </td>
                    <td><a href="/app/packagedb/subdomains/{{ gittree.subdomain.id }}">{{ gittree.subdomain.name }}</a></td>
                    <td>
                        {% for license in gittree.licenses.all %}
                        <p><a href="/app/packagedb/licenses/{{ license.id }}">{{ license }}</a></p>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
