{% extends "core/base.html" %}
{% block title %}IRIS - Image {{ image }}{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">IRIS</a></li>
  <li><a href="/app/packagedb/">Package Database</a></li>
  <li><a href="/app/packagedb/images/">Images</a></li>
  <li class="active">{{ image.name }}</li>
</ol>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h3>
                Image information for <span class="text-warning">{{ image.name }}</span>
                <span class="pull-right">
                {% if perms.core.change_image %}
                <a href="update"><button class="btn btn-primary">Edit</button></a>
                {% endif %}

                {% if perms.core.delete_image %}
                <a href="delete" class="delete"><button class="btn btn-primary">Delete</button></a>
                {% endif %}
                </span>
            </h3>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Target</th>
                    <th>Architecture</th>
                    <th>Product</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ image.name }}
                    </td>
                    <td>
                        {{image.target}}
                    </td>
                    <td>
                        {{ image.arch }}
                    </td>
                    <td>
                        <a href="/app/packagedb/products/{{image.product.id}}">{{ image.product.name }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
