{% extends "core/base.html" %}
{% block title %}IRIS - License {{ license.shortname }}{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">IRIS</a></li>
  <li><a href="/app/packagedb/">Package Database</a></li>
  <li><a href="/app/packagedb/licenses/">Licenses</a></li>
  <li class="active">{{ license.shortname }}</li>
</ol>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h3>
                License information for <span class="text-warning">{{ license.shortname }}</span>
                <span class="pull-right">
                {% if perms.core.change_license %}
                <a href="update"><button class="btn btn-primary">Edit</button></a>
                {% endif %}

                {% if perms.core.delete_license %}
                <a href="delete" class="delete"><button class="btn btn-primary">Delete</button></a>
                {% endif %}
                </span>
            </h3>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>License short name</th>
                    {% if license.fullname %}
                    <th>License full name</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ license.shortname }}</td>
                    {% if license.fullname %}
                    <td>
                        {{ license.fullname }}
                    </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Packages with this license
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Package name</th>
                                <th>Git tree</th>
                                <th>Subdomain</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for package in packages %}
                        <tr>
                            <td><a href="/app/packagedb/packages/{{ package.id }}">{{ package.name }}</a></td>
                            <td><a href="/app/packagedb/gittrees/{{ package.gittree.id }}">{{ package.gittree.gitpath }}</a></td>
                            <td><a href="/app/packagedb/subdomains/{{ package.gittree.subdomain.id }}">{{ package.gittree.subdomain.name }}</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        License text
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <pre>{{ license.text }}</pre>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</div>
