{% extends "core/base.html" %}
{% block title %}IRIS - Package {{ package }}{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">IRIS</a></li>
  <li><a href="/app/packagedb/">Package Database</a></li>
  <li><a href="/app/packagedb/packages/">Packages</a></li>
  <li class="active">{{ package.name }}</li>
</ol>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h3>
                Package information for <span class="text-warning">{{ package.name }}</span>
                <span class="pull-right">
                {% if perms.core.change_package %}
                <a href="update"><button class="btn btn-primary">Edit</button></a>
                {% endif %}

                {% if perms.core.delete_package %}
                <a href="delete" class="delete"><button class="btn btn-primary">Delete</button></a>
                {% endif %}
                </span>
            </h3>
        </div>
    </div>

    <div class="row panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Relevant Git trees of this package
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Git tree</th>
                                <th>Package name</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a href="/app/packagedb/gittrees/{{ package.gittree.id }}">{{ package.gittree.gitpath }}</a>
                            </td>
                            <td>
                                {{ package.name }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
