{% extends "core/base.html" %}
{% block title %}IRIS - Product {{ product.name }}{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">IRIS</a></li>
      <li><a href="/app/packagedb/">Package Database</a></li>
      <li><a href="/app/packagedb/products/">Products</a></li>
      <li class="active">{{ product.name }}</li>
    </ol>
  </div>

    <div class="row">
        <div class="page-header">
            <h3>
                Product information for <span class="text-warning">{{ product.name }}</span>
                <span class="pull-right">
                {% if perms.core.change_product %}
                <a href="update"><button class="btn btn-primary">Edit</button></a>
                {% endif %}

                {% if perms.core.delete_product %}
                <a href="delete" class="delete"><button class="btn btn-primary">Delete</button></a>
                {% endif %}
                </span>
            </h3>
        </div>

        <table class="table gittree-info table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td> {{ product.name }} </td>
                <td> {{ product.description }} </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Git trees related to this product
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Git tree</th>
                                <th>Domain</th>
                                <th>Subdomain</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for gittree in gittrees %}
                            <tr>
                                <td><a href="/app/packagedb/gittrees/{{ gittree.id }}">{{ gittree.gitpath }}</a></td>
                                <td><a href="/app/packagedb/domains/{{ gittree.subdomain.domain.id }}">{{ gittree.subdomain.domain.name }}</a></td>
                                <td><a href="/app/packagedb/subdomains/{{ gittree.subdomain.id }}">{{ gittree.subdomain.name }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
