{% extends "core/base.html" %}
{% block title %}IRIS - Subdomain {{ subdomain }}{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">IRIS</a></li>
      <li><a href="/app/packagedb/">Package Database</a></li>
      <li><a href="/app/packagedb/domains/">Domains</a></li>
      <li><a href="/app/packagedb/domains/{{ subdomain.domain.id }}/">{{ subdomain.domain.name }}</a></li>
      <li class="active">{{ subdomain.name }}</li>
    </ol>
  </div>

    <div class="row">
        <div class="page-header">
            <h3>
                Subdomain information for
                <span class="text-warning">{{ subdomain.domain.name }}</span>
                /
                <span class="text-warning">{{ subdomain.name }}</span>
                <span class="pull-right">
                {% if perms.core.change_subdomain %}
                <a href="update?domain={{ subdomain.domain.id }}&name={{ subdomain.domain.name }}"><button class="btn btn-primary">Edit</button></a>
                {% endif %}

                {% if perms.core.delete_subdomain %}
                <a href="delete?domain={{ subdomain.domain.id }}" class="delete"><button class="btn btn-primary">Delete</button></a>
                {% endif %}
                </span>
            </h3>
        </div>
    </div>
    <div class="row">
      {% with architects=subdomain.get_architects maintainers=subdomain.get_maintainers integrators=subdomain.get_integrators reviewers=subdomain.get_reviewers %}
      {% include "packagedb/read/single/roles.html" %}
      {% endwith %}
    </div>

    <div class="row panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Gittrees in this subdomain
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        {% for gittree in subdomain.get_gittrees|dictsort:"gitpath.lower" %}
                        <tr>
                            <td>
                                <a href="/app/packagedb/gittrees/{{ gittree.id }}">{{ gittree.gitpath }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
