<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css" type="text/css" />
        <script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
    </head>

    <body class="body">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- Toggle buttons to a side menu when being collapsed -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/" class="navbar-brand">IRIS</a>

                <div class="nav-collapse collapse navbar-responsive-collapse">
                    {# If user is authenticated we display the nav bar links #}
                    <div class="pull-right">
                        <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li><span class="navbar-text">Signed in as <a href="#">{{ user.username }}</a></span></li>
                            <li><a class="btn btn-default navbar-btn">Sign out</a></li>
                        {% else %}
                            <li>
                                <form class="navbar-form form-inline" method="POST" action="/login/?next={{ redirect_to }}">
                                    <input id="id_login_username" class="login-username form-control" name="username" type="text" placeholder="Username" />
                                    <input id="id_login_password" class="login-password form-control" name="password" type="password" placeholder="Password" />
                                    <button id="login-button" class="btn btn-default" type="submit" value="Sign in">Sign in</button>
                                    {% csrf_token %}
                                </form>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="body-wrapper" class="container navbar-body-fix">
            {# Display page content in this wrapper #}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
