<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}multi-select.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}site-specific.css" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}jquery.multi-select.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}site-specific.js"></script>
    </head>

    <body class="body">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <!-- Brand and toggling, toggle menu is shown in mobile view -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <!-- img src attribute is a base64 encoded of 1x1px transparent GIF -->
                <img class="tizen" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
                IRIS</a>
          </div>

          <!-- Collapsible navbar, login form if user is not authenticated -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
              {% if user.is_authenticated %}
              <form class="navbar-form navbar-right" method="GET" action="/logout/">
                  <button type="submit" class="btn btn-default">Sign out</button>
              </form>
              <p class="navbar-text navbar-right">Signed in as {{ user.username }}</p>

              {% else %}
              <form class="navbar-form navbar-right" method="POST" action="/login/?next={{ redirect_to }}">
                  <div class="form-group">
                      <input name="username" type="text" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group">
                      <input name="password" type="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-default">Sign in</button>
                  {% csrf_token %}
              </form>
              {% endif %}
          </div>
        </nav>

        <!-- Page content wrapper -->
        <div id="body-wrapper" class="container navbar-body-fix">
            {% block content %}{% endblock %}
        </div>

        <footer class="base-footer">
          <div class="container">
            <p>Maintained by the OTC Tools Team</p>
            <p>Code licensed under GPLv2</p>
            <ul>
              <li>Currently v{{version}}</li>
              <li>·</li>
              <li><a href="/api/packagedb">API</a></li>
              <li>·</li>
              <li><a href="https://github.com/01org/iris-panel">GitHub</a></li>
              <li>·</li>
              <li><a href="https://wiki.tizen.org/wiki/IRIS">Wiki</a></li>
              <li>·</li>
              <li><a href="https://bugs.tizen.org/jira/browse/TINF/component/11900">Issues</a></li>
              <li>·</li>
              <li><a href="http://download.tizen.org/iris/">Releases</a></li>
              <li>·</li>
              <li>© 2014 Intel</li>
            </ul>
          </div>
        </footer>
        <!--[if IE 8]>
        <script>
            $("a > button").live('click', function() {
                location.href = $(this).parent("a").attr("href");
            });
        </script>
        <![endif]-->
    </body>
</html>
