{% extends "core/base.html" %}
{% block title %}
IRIS - Portal
{% endblock %}
{% block content %}
<!--[if lt IE 9]>
<p class="alert alert-danger">You are using an outdated browser. Many features
    used by this site are not supported by your browser. Please consider using
    GoogleChrome, Firefox, Safari or IE above 9 instead.</p>
<![endif]-->

<div class="container row">
    <div class="jumbotron">
        <br />
        <h2>IRIS Portal</h2>
        <hr />
        <p>IRIS is a data-aggregation service for release engineering.</p>
        <p>This is the main portal for accessing different applications</p>
    </div>
</div>
<div class="container">
    <div class="col-xs-12">
        {% for app in apps %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <a class="btn btn-primary btn-lg col-xs-12" href="{% url app.url %}">
                {{ app.header }} »
            </a>
            <br />
            <br />
            <p>{{ app.intro }}</p>
        </div>
        {% endfor %}
        <br />
    </div>
</div>
{% endblock %}
