{% extends "core/base.html" %}
{% block title %}IRIS - login{% endblock %}
{% block content %}
<div class="jumbotron container row">
    <h2>IRIS - sign in</h2>
    <hr />
    <div class="col-offset-1 tooltip-class">
        {% if not user.is_authenticated %}
        <form class="form form-horizontal" method="POST" action="/login/?next={{ redirecto_to }}">
            <fieldset>
                <div class="col-lg-8">
                    <div class="form-group">
                      <label for="id_login_user">Username</label>
                      <input class="form-control" id="id_login_username" name="username"
                             type="text" placeholder="Username" />
                    </div>

                    <div class="form-group">
                      <label for="id_login_user">Password</label>
                      <input class="form-control" id="id_login_password" name="password"
                             type="password" placeholder="Password" />
                    </div>

                    <div class="form-group">
                      <span class="help-block">You may login with the same user name and password as tizen.org.</span>
                    </div>

                    {% if messages %}
                    <div class="form-group">
                        {% for message in messages %}
                        <p class="text-danger">{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <button id="login-button" class="btn btn-primary" type="submit" value="Sign in">Sign in</button>
                    </div>
                </div>
                {% csrf_token %}
            </fieldset>
        </form>
        {% else %}
        <p>You are already signed in!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
