{% extends "core/base.html" %}
{% block title %}IRIS - login{% endblock %}
{% block content %}
<div class="jumbotron container row">
    <h2>IRIS - sign in</h2>
    <hr />
    <div class="col-offset-1 tooltip-class">
        {% if not user.is_authenticated %}
        <form class="form form-horizontal" method="POST" action="/login/?next={{ redirecto_to }}">
            <fieldset>
                <div class="col-4">
                    <div class="form-group">
                        <input class="form-control" id="id_login_username" name="username" type="text" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="id_login_password" name="password" type="password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        {% if messages %}
                        {% for message in messages %}
                        <p class="text-danger">{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <button id="login-button" class="btn btn-default" type="submit" value="Sign in">Sign in</button>
                    </div>
                </div>
                {% csrf_token %}
            </fieldset>
        </form>
        {% else %}
        <p>You are already signed in!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
