{% extends "core/base.html" %}

{% load humanize %}
{% load user_display_name %}

{% block title %}IRIS - Submission {{ submission.name }}{% endblock %}

{% block content %}
<style>
.tab-pane {
  padding-top: 1em;
}
</style>

<div class="container">
  {% include "submissions/menu.html" %}

  <div class="row">
    <div class="page-header">
      <h3>
        Submission information for <span class="text-warning">{{ submission.name }}</span>
      </h3>
    </div>
  </div>

  {% if submission.status == 'SUBMITTED' %}
  <div class="row">
    <table class="table gittree-info table-striped table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <th>Status</th>
          <td>{{ submission.display_status }} </td>
        </tr>
        <tr>
          <th>Owner</th>
          <td><a href="{% url 'users' submission.owner.id %}">
              {{ submission.owner|user_display_name }}</a></td>
        <tr>
          <th>Git Tree</th>
          <td><a href="{% url 'gittree.read' submission.gittree.id %}">
              {{ submission.gittree }}</a></td>
        </tr>
        <tr>
          <th>Commit</th>
          <td>{{ submission.commit }}</td>
        </tr>
        <tr>
          <th>Created</th>
          <td><span title="{{ submission.created }}">
              {{ submission.created|naturaltime }}</span></td>
        </tr>
        <tr>
          <th>Updated</th>
          <td><span title="{{ submission.updated }}">
              {{ submission.updated|naturaltime }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}

  {% for build in submission.submissionbuild_set.all %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ build.product }}</h3>
    </div>

    <div class="panel-body">
      <ul class="nav nav-tabs" role="tablist">
        {% if build.group.status < '20' %}
        <li class="active"><a href="#">
            {{ build.group.display_status }}</a></li>
        {% else %}
        <li><a href="#">Packages</a></li>
        {% endif %}

        {% if build.group.status > '20' %}
          {% if build.group.status < '30' %}
        <li class="active"><a href="#">
            {{ build.group.display_status }}</a></li>
          {% else %}
        <li><a href="#">Image</a></li>
          {% endif %}
        {% endif %}

        {% if build.group.status > '30' %}
          {% if build.group.status < '40' %}
        <li class="active"><a href="#">
            {{ build.group.display_status }}</a></li>
          {% else %}
        <li><a href="#">Accepted</a></li>
          {% endif %}
        {% endif %}

        {% if build.group.status > '40' %}
        <li class="active"><a href="#">
            {{ build.group.display_status }}</a></li>
        {% endif %}
      </ul>

      <div class="tab-content">
        <div class="tab-pane active">
          <table class="table"><tr><td>
                <table class="table">
                  <tr>
                    <th>Git Tree</th>
                  </tr>
                  {% for silbling in build.group.submissionbuild_set.all %}
                  <tr>
                    <td><a href="{% url 'gittree.read' silbling.submission.gittree.id %}">
                        {{ silbling.submission.gittree }}</a>

                      {% if silbling.submission.name != submission.name %}
                      Tag: {{ silbling.submission.name }}
                      {% endif %}

                      <!--
                      {% if slibling.submission.commit != submission.commit %}
                      Commit: {{ silbling.submission.commit }}
                      {% endif %}
                      -->

                      {% if silbling.submission.owner.id != submission.owner.id %}
                      Owner: <a href="{% url 'users' silbling.submission.owner.id %}">
                        {{ silbling.submission.owner|user_display_name }}</a>
                      {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </table>

              </td><td>

                <table class="table">
                  <tr>
                    <th>Package</th>
                    <th>Target</th>
                    <th>Arch</th>
                    <th>Status</th>
                  </tr>
                  {% for pbuild in build.group.packagebuild_set.all %}
                  <tr>
                    <td>{{ pbuild.package }}</td>
                    <td>{{ pbuild.target }}</td>
                    <td>{{ pbuild.arch }}</td>
                    <td><a href="{{ pbuild.log }}">
                        {{ pbuild.display_status }}</a></td>
                  </tr>
                  {% endfor %}
                </table>
          </td></tr></table>
        </div>

        {% if build.group.status >= '20_IMGBUILDING' %}
        <div class="tab-pane">
          <p><a href="{{ build.group.repo_url }}">Go to download repository</a></p>

          <table class="table">
            <tr>
              <th>Name</th>
              <th>Repo</th>
              <th>Status</th>
            </tr>
            {% for ibuild in build.group.imagebuild_set.all %}
            <tr>
              <td><a href="{{ ibuild.url }}">{{ ibuild.name }}</a></td>
              <td>{{ ibuild.repo }}</td>
              <td><a href="{{ ibuild.log }}">{{ ibuild.display_status }}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}

        {% if build.group.status == '33_ACCEPTED' %}
        <div class="tab-pane">
          <p>Accepted by {{ build.group.operator }}
            at {{ build.group.operated_on }}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>

<script>
$(document).ready(function() {

$('.panel-body').each(function() {
    var container = $(this);
    $('.nav-tabs a', this).each(function(idx, e) {
        $(e).click(function() {
            container.find('li')
            .removeClass('active')
            .eq(idx).addClass('active');

            container.find('.tab-pane')
            .removeClass('active')
            .eq(idx).addClass('active');
            return false;
        });
    });

    $('li.active a', container).click();
});

});
</script>
{% endblock %}
