{% extends "core/base.html" %}
{% block title %}IRIS - Submissions summary{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">IRIS</a></li>
      <li><a href="/app/submissions/">Submissions</a></li>
      <li><a href="/app/submissions/summary/">Summary</a></li>
      <li class="active">Group creation</li>
    </ol>
  </div>

    <div class="row">
        <div class="page-header">
            <h3>
                Creating a new submission group for {{ selected_product }}
                <!-- This form is an asynchronous one, refer to JS files for implementation -->
                <form id="create-group-form" class="pull-right" method="post" action="create/">
                    <button id="create-group-submit" type="submit" class="btn btn-success pull-right" disabled>Create group submit/{{ selected_product.short }}/<span id="submit-time"></span></button>
                    {% csrf_token %}
                </form>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default submissions-filters">
                <div class="panel-heading">
                    <h4 class="panel-title" id="submissions-column-toggle">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-chevron-down" id="submissions-filter-toggle-chevron"></span>
                                &nbsp; Toggle filters
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <input type="text" placeholder="Filter all columns" id="global-filter" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="product-filter">
                                <option value="">Any product</option>
                                {% if selected_product %}
                                <option selected value="{{ selected_product }}">{{ selected_product }}</option>
                                {% endif %}
                                {% for p in unselected_products %}
                                <option value="{{ p.name }}">{{ p.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 submissions-column-filters">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="col-md-1"></td>
                                <td class="col-md-2">
                                    <input class="form-control" id="name-filter" placeholder="Name">
                                </td>
                                <td class="col-md-2">
                                    <select class="form-control" id="status-filter">
                                        <option>Any status</option>
                                        <option selected>Pending</option>
                                        <option>Testing</option>
                                        <option>Building</option>
                                        <option>Accepted</option>
                                        <option>Failed</option>
                                        <option>Rejected</option>
                                    </select>
                                </td>
                                <td class="col-md-3">
                                    <input class="form-control" id="tree-submission-filter" placeholder="Git tree name">
                                </td>
                                <td class="col-md-2">
                                    <input class="form-control" id="created-date-filter" placeholder="Submitted">
                                </td>
                                <td class="col-md-2">
                                    <input class="form-control" id="submitted-date-filter" placeholder="Updated">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table id="submissions-summary" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-md-1 sorter">Select <span class="submissions-summary-chevrons glyphicon pull-right"></span></th>
                    <th class="col-md-2 sorter">Name <span class="submissions-summary-chevrons glyphicon pull-right"></span></th>
                    <th class="col-md-2 sorter">Status <span class="submissions-summary-chevrons glyphicon pull-right"></span></th>
                    <th class="col-md-3 sorter">Git trees <span class="submissions-summary-chevrons glyphicon pull-right"></span></th>
                    <th class="col-md-2 sorter">Submitted <span class="submissions-summary-chevrons glyphicon pull-right"></span></th>
                    <th class="col-md-2 sorter">Updated <span class="submissions-summary-chevrons glyphicon pull-right"></span></th>
                </tr>
            </thead>
            <tbody>
            {% for s in submissions %}
                <tr>
                    <td class="col-md-1">
                        <input type="checkbox" class="form-control submissions-select" onclick="selectSubmission({{ s.id }})" />
                    </td>
                    <td class="col-md-2">
                        <a href="/app/submissions/submissions/{{ s.id }}">{{ s.name }}</a>
                    </td>
                    <td class="col-md-2">{{ s.status }}</td>
                    <td class="col-md-3">
                        {% for tree in s.gittree.all %}
                        <a href="/app/packagedb/gittrees/{{ tree.id }}"><p>{{ tree }}</p></a>
                        {% endfor %}
                    </td>
                    <td class="col-md-2">{{ s.created }}</td>
                    <td class="col-md-2">{{ s.updated }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

