<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/superfish/1.7.4/superfish.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/superfish/1.7.4/superfish-navbar.min.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/superfish/1.7.4/superfish.min.js"></script>

<div class="row">
  <ul class="sf-menu sf-js-enabled sf-arrows">
    <li>
      <a>All</a>
      <ul>
        <li><a href="{% url 'opened_submissions' %}">Open</a></li>
        <li><a href="{% url 'accepted_submissions' %}">Accepted</a></li>
        <li><a href="{% url 'rejected_submissions' %}">Rejected</a></li>
      </ul>
    </li>
    <li>
      <a href="{% url 'my_submissions' %}">My</a>
    </li>
    {% if products %}
      <li>
        <a>Snapshots</a>
        <ul>
          {% for product in products %}
            <li><a href="{% url 'snapshot_by_product' product.id %}">{{ product.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  </ul>

  <form action="{% url 'search_submissions' %}" class="form-inline pull-right" role="form">
    <input name="kw" title="keyword format: key:value/value. Only one value without key is supported. More key:value are separated with space, supported keys: name,
     gittree, owner, status" placeholder="tag, SHA-1, email or git project" type='search' size='64' class="form-control" value="{{ keyword }}"/>
    <input id="search" type='submit' class="btn btn-primary" value='Search' />
  </form>
  <div id="error" class="failed pull-right"></div>
  </div>

<script>
$(document).ready(function() {

  $('ul.sf-menu').superfish();

  $('#search').click(function(){
    flag = false;
    $.ajax({
        type: 'GET',
        url: "{% url 'validate_search_submissions' %}",
        data: {'kw': $('input[name="kw"]').val()},
        async: false,
        cache: false,
        timeout: 5000,
    })
    .fail( function(){
        $('#error').html("<p>Error, support format: key:value/value. Only one value without key is supported</p>\
                          <p>More key:value are separated with space, supported keys: name, gittree, owner, status</p>");
        flag = false;
     })
    .success(function(){
        flag = true;
    });
    return flag;
  });

});
</script>
