{% extends "core/base.html" %}
{% load humanize %}
{% load user_display_name %}

{% block title %}IRIS - Submissions summary{% endblock %}

{% block content %}
<style>
tr.table-header {
  background-color: #f5f5f5;
}
</style>

<div class="container">
  {% include "submissions/menu.html" %}

  <div class="row page-header">
    <h3>{{ title }}</h3>
  </div>

  <div class="row">
    <table id="submissions-summary" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Owner</th>
          <th>Git Tree</th>
          <th>Product</th>
          <th>Status</th>
          {% if show_snapshot %}
          <th>Snapshot</th>
          {% endif %}
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for g in results %}
          <tr>
              <td>
                <a href="{% url 'submission_detail' g.name %}">{{ g.name }}</a>
              </td>
              <td>
                {% for o in g.owner %}
                  <a href="{% url 'users' o.id %}">{{ o|user_display_name }}</a><br/>
                {% endfor %}
              </td>
              <td>
                  {% for t in g.gittree %}
                    <a href="{% url 'gittree.read' t.id %}">{{ t }}</a><br/>
                  {% endfor %}
              </td>
              {% with prod_st=g.product_status.items %}
                <td>
                  {% for product, _ in prod_st %}
                    <p><a href="{% url 'product.read' product.id %}">{{ product.name }}</a></p>
                  {% empty %}
                    <!-- no product -->
                  {% endfor %}
                </td>
                <td name="status" nowrap>
                  {% for _, group in prod_st %}
                    <p>{{ group.display_status }}</p>
                  {% empty %}
                    <!-- no product -->
                    <p>{{ g.status }}</p>
                  {% endfor %}
                </td>
              {% endwith %}
              {% if show_snapshot %}
                <td nowrap>
                  {% for snapshot in g.snapshots %}
                    <p>
                      <a href="{{ snapshot.url }}"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>
                      <a href="{% url 'snapshot_detail' snapshot.id %}">{{ snapshot.buildid }}</a>
                    </p>
                  {% endfor %}
                </td>
              {% endif %}
              <td>
                <span title="{{ g.updated }}">{{ g.updated|naturaltime }}</span>
              </td>
            </tr>
      {% endfor %}
    </tbody>
   </table>
  </div>
</div>
<script>
color_dict= {
    'Package building failed': 'failed',
    'Image build failed': 'failed',
    'Rejected': 'failed',

    'Accepted': 'succeeded',

    'Package building': 'building',
    'Image building': 'building',
    'Submitted': 'building',
    }
$(document).ready(function(){
    $("td[name='status']").each(function(){
        $(this).children().each(function(){
            $(this).attr('class', color_dict[$(this).html()]);
        });

    });
});
</script>
{% endblock %}
