{% extends "core/base.html" %}

{% block title %}IRIS - Submissions summary{% endblock %}

{% block content %}
<style>
tr.table-header {
  background-color: #f5f5f5;
}
</style>

<div class="container">
  {% include "submissions/menu.html" %}

  <div class="row page-header">
    <h3>{{ title }}</h3>
  </div>

  <div class="row">
    <table id="submissions-summary" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Owner</th>
          <th>Git Tree</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for s in results %}
          {% include "submissions/tbody.html" %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
