{% extends "core/base.html" %}
{% load humanize %}
{% load user_display_name %}

{% block title %}IRIS - Submissions summary{% endblock %}

{% block content %}
<style>
tr.table-header {
  background-color: #f5f5f5;
}
</style>

<div class="container">
  {% include "submissions/menu.html" %}

  <div class="row page-header">
    <h3>{{ title }}</h3>
  </div>

  <div class="row">
    <table id="submissions-summary" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Owner</th>
          <th>Git Tree</th>
          <th>Product</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for g in results %}
        <tr>
          <td><a href="{% url 'submission_detail' g.name %}">
              {{ g.name }}</a></td>
          <td class="{{ g.display_colors }}">{{ g.display_status }}</td>

          {% if g.count == 1 %}
          <td><a href="{% url 'users' g.owner.id %}">
              {{ g.owner|user_display_name }}</a></td>
          <td><a href="{% url 'gittree.read' g.gittree.id %}">
              {{ g.gittree }}</a></td>
          {% else %}
          <td>
            {% for o in g.owner %}
            <a href="{% url 'users' o.id %}">
              {{ o|user_display_name }}</a></br>
            {% endfor %}
          </td>
          <td>
            {% for t in g.gittree %}
            <a href="{% url 'gittree.read' t.id %}">
              {{ t }}</a></br>
            {% endfor %}
          </td>
          {% endif %}

          <td>
            {% for p in g.products %}
            <a href="{% url 'product.read' p.id %}">{{ p }}</a></br>
            {% endfor %}
          </td>
          <td><span title="{{ g.updated }}">
              {{ g.updated|naturaltime }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
